/*html elements */

body {
  margin: 0;
  background-color: dimgray;
}





/* wrappers, containers */


.wrapper {
  position: relative;
  width: 100%;
}
.water {
  position: absolute;
  bottom: 0;
  background-color: #3987c9;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
}
.CenterContainer {
  width: 75%;
  margin: 0 auto;
  background-color: white;
}
.textContainer, .textContainerSubmerged, .textContainerOverlay {
  overflow: hidden;
  margin: 0 10%;
  font-size: 1.5vw;
}
.textContainer {
  overflow: hidden;
  margin: 0 10%;
  font-size: 1.5vw;
}
.textContainerOverlay {
  z-index: 1;
  position: absolute;
  background-color: lightgoldenrodyellow;
}
.textContainerSubmerged {
  background-color: darkslategray;
}
.textDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.textDivBig {
  height: 10vh;
}

/*texts / images */

.descriptionText, .submerged .descriptionText {
  font-size: calc(1em + 0.5vw);
  margin: 0;
}
.submerged .descriptionText {
  color: white;
}
.picture {
  width: 15vw;
  height: 15vw;
  margin: 0 1vw;
}

/*animations */

.shakeThis {
    animation: shake 3s;
}

@keyframes shake {
    0% { transform: translate(10vh) }
    10% { transform: translate(-10vh) }
    20% { transform: translate(9vh) }
    30% { transform: translate(-9vh) }
    40% { transform: translate(8vh) }
    50% { transform: translate(-8vh) }
    60% { transform: translate(7vh) }
    70% { transform: translate(-7vh) }
    80% { transform: translate(6vh) }
    90% { transform: translate(-6vh) }
    100% { transform: translate(5vh) }
}
