/*html elements */

body {
  margin: 0;
  background-color: dimgray;
}





/* wrappers, containers */


.wrapper {
  position: relative;
  width: 100%;
}
.water {
  position: absolute;
  bottom: 0;
  background-color: #3987c9;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
}
.CenterContainer {
  width: 75%;
  margin: 0 auto;
  background-color: white;
}
.textContainer, .textContainerSubmerged, .textContainerStarted {
  overflow: hidden;
  margin: 0 10%;
  font-size: 1.5vw;
}
.textContainerStarted {
  z-index: 1;
  position: absolute;
  background-color: lightgoldenrodyellow;
}
.textContainerSubmerged {
  background-color: darkslategray;
}
.textDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/*texts / images */

.descriptionText, .submerged .descriptionText {
  font-size: calc(1em + 0.5vw);
  margin: 0;
}
.submerged .descriptionText {
  color: white;
}
.picture {
  width: 15vw;
  height: 15vw;
  margin: 0 1vw;
}
