/*html elements */

body {
  margin: 0;
  background-color: dimgray;
}


/* wrappers, containers */


.wrapper {
  position: relative;
  width: 100%;
}
.water {
  position: absolute;
  bottom: 0;
  background-color: red;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
}


/*texts */

.descriptionText {
  font-size: calc(1em + 0.5vw);
}
.textSubmerged {
  color: white
}
